<div id="create-message">
  <%= simple_form_for [@fund, @message] do |f| %>
    <%= f.input :content, label: false %>
    <%= f.submit "send a message", class: "btn btn-primary"  %>
  <% end %>
</div>

