 <div class="row">
    <div class="col-sm-12">
      <div class="message">
        <ul class="messages-all">
          <% @messages.each do |message| %>
            <li><%= render "messages/show", message: message %></li>
          <% end %>
        </ul>
      </div>
      <%= render "messages/form", message: @message %>
    </div>
  </div>

