<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="message">
        <ul>
          <% @messages.each do |message| %>
            <li><%= render "messages/show", message: message %></li>
          <% end %>
        </ul>
      </div>
      <%= render "messages/form", message: @message %>
    </div>
  </div>
</div>

