<div class="message <%= user_is_messages_author ? "right" : "" %>">
<%= image_tag message.user.photo.nil? ? "logo.png" : message.user.photo, class: "avatar-logo"%>
  <div class="message-content">
    <%= message.content %> <%= message.user.name %>
  </div>
</div>

