
<div class="message <%= user_is_messages_author ? "right" : "" %>">
<%= image_tag message.user.photo.nil? ? "avatar.png" : message.user.photo, class: "avatar-logo"%>

  <div class="message-content">
    <message><%= message.content %></message><rt class="rt", style="font-size: 12px;">    -   <%=  message.user.name %></rt>
  </div>
</div>

