

<div class="form-style-5">
  <div class="text-center">
  <div class="header">
    <h1>ADD NEW MEMBERSHIP</h1>
  </div>
    <%= simple_form_for [ @fund, @membership ] do |f| %>
      <div class="form-group" style="margin-bottom: 10px;">
        <h2 style="text-align: center;">Email Address</h2>
        <%= text_field_tag :email, "", input_html: {:style => 'width: 250px; margin: 0 auto'} %>
      </div>
      <div class="form-group" style="margin-bottom: 10px;">
        <h2 style="text-align: center;"> Investment Amount ($) </h2>
        <%= f.input :allocation_share, label: false, class: 'my-input', input_html: {:style => 'width: 250px; margin: 0 auto'} %>
      </div>
        <%= f.submit "ADD ", class: "my-btn" %>
    <% end %>
  </div>
</div>




