@import url("https://fonts.googleapis.com/css?family=Assistant:300|Lato:300" rel="stylesheet");
$base-font: 'Assistant', sans-serif;
$header-font: 'Lato', sans-serif;


// Font-size and Line-height
$base-size: 16px;
$base-height: 1.4;


// custom colour scheme
$turquoise: #79B4A9;
$my-orange: #F46036;
$grey: #E7E7E7;
$dark-grey: #786661;
