<p>Good day<%= @user.name %>,</p>

<h1>You have been invited to join a fund on BenchMark.</h1>
<H1>To access this fund please use the following password: </H1>

<p>Your password is <%= @user.password %>  </p>

<p>Happy BanchMarking!</p>
