.menu_icon {
  width: 800px;
  height: auto;
  border: 2px solid orange;
  justify-content: center;
}

p {
  font-size: 17px;
  font-family: "Raleway", "Helvetica", "sans-serif";
}

.text h3{
  font-size: 21px;
  font-family: "Raleway", "Helvetica", "sans-serif";
}

#heading h3{
  margin-top: 225px;
  font-family: "Raleway", "Helvetica", "sans-serif";
}
