// Specific CSS for your home-page
.description-1 h1{
  font-weight: bold;
  font-size: 27px;
  margin-top: 0;
  padding-top: 0;
}

.description-1 h2{
  font-size: 25px;
  font-weight: 400;
}


.create-btn-home {
  font-weight: bold;
  color: #0D203B;
  border: 3px solid orange;
  padding: 10px 15px;
  border-radius: 50px;
  margin-top: 60px;
  width: 195px;
  font-size: 18px;
  font-family: "Raleway", "Helvetica", "sans-serif";
  margin-top: 10px;
}

.white-box {
  border: 11px solid white;
  padding: 50px;
  width: 80%;
  margin: 120px auto;

}
