<div class="home-banner">

  <div class="col-xs-12 col-sm-12">
    <div class="description-1">
      <h1>BenchMark makes it easy to invest in crypto with your social circle.</h1>
      <h2>Invest for others. Invest with them. BenchMark is a coordination tool which helps everyone stay on the same page.</h2>
    </div>
    <div class="center-btn"><div class="create-btn">
    <%= link_to 'CREATE FUND', new_fund_path%>
    </div></div>
  </div>
</div>


