<div class="home-banner">


  <div class="col-xs-12 col-sm-4">

  </div>

  <div class="col-xs-12 col-sm-4">
      <%= link_to 'CREATE FUND', new_fund_path, class:"btn "%>
  </div>

  <div class="col-xs-12 col-sm-4">
    <div class="description-1">
      <h2><b>BenchMark makes it easy to invest in crypto with your social circle.</b></h2>
      <p style =" top: 20px;">“Invest for others. Invest with them. BenchMark is a coordination tool which helps everyone stay on the same page.”</p>
    </div>
  </div>



</div>


