<div class="home-banner">
  <div class="col-xs-12 col-sm-12">

    <div class="description-1">
      <h1>BenchMark makes it easy to invest in crypto with your social circle.</h1>
      <h2>Invest for others. Invest with them. BenchMark is a coordination tool which helps everyone stay on the same page.</h2>
    </div>

    <div class="center-btn">
      <div class="create-btn">
        <%= link_to 'CREATE FUND', new_fund_path%>
      </div>
    </div>

  </div>
</div>

<link href="https://fonts.googleapis.com/css?family=Lato:300|Open+Sans:300" rel="stylesheet">
<!--
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif; -->

<div class="container" id="about">

  <!-- <header >
    <h1>WHAT IS BENCHMARK</h1>
  </header>

  <div class="card-big" >
    <div class="card-big-description" style =" top: 0px;">
      <h2>“<b>BenchMark makes it easy to invest in crypto with your social circle.</b>”</h2>
      <p style =" top: 20px;">Invest for others. Invest with them. BenchMark is a coordination tool which helps everyone stay on the same page.</p>
    </div>
  </div>
 -->
    <div class="container-2">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="card card-time" >
            </div>
            <div class="description">
              <p> GET THE LATEST PRICES </p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="card card-track">
            </div>
            <div class="description">
              <p> TRACK YOUR INVESTMENTS </p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="card card-update">
            </div>
            <div class="description">
              <p> GIVE UPDATES AND STAY UPDATED </p>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="container-3">
      <div class="col-xs-12 col-sm-6">
        <div class="product">
<!--           <img src="/images/manager.png" alt="manager" class="product-image hidden-xs"> -->
          <%= image_tag("manager.png", class: "product-image hidden-xs") %>
          <div class='product-body'>
            <h3>Fund <u>manager</u></h3>
            <p>Engage with investors in my fundspace. Share investing ideas and provide updates, in a single space.</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="product">
          <%= image_tag("investor.png", class: "product-image hidden-xs") %>
          <div class='product-body'>
            <h3>Passive <u>investor</u></h3>
            <p>Interact with fund managers and track profits in my fundspace. Invest with peace of mind </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>




