.fund-create h2{
  justify-content: center;
  text-align: center;
  font-weight: lighter;
  font-family: "Raleway", "Helvetica", "sans-serif";
}

.member-funds h2{
  justify-content: center;
  text-align: center;
  font-weight: lighter;
  font-family: "Raleway", "Helvetica", "sans-serif";
}

.fund-joined:hover h2{
color: black;
}

.create-btn-new {
  color: orange;
  display: flex;
  border: 1px solid orange;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  width: 155px;
  justify-content: center;
  text-align: center;
}

.center-btn {
  display: flex;
  justify-content: center;
  text-align: center;
}

.fund-own h2{
  justify-content: center;
  text-align: center;
  font-weight: lighter;
  font-family: "Raleway", "Helvetica", "sans-serif";
}

.fund-own:hover h2{
  color: black;
}

.owned-funds h2{
  justify-content: center;
  text-align: center;
  font-weight: lighter;
  font-family: "Raleway", "Helvetica", "sans-serif";
}


a:-webkit-any-link{
  text-decoration: none;
}
