#allocation_share {
  border-style: none;
  border: 1px solid #ECECEC;
  box-shadow: none;
  font-size: 14px;
  color: #868686;
  padding: 6px 12px;
  border-radius: 2px;
}

.form-style-5 h2{
  font-size: 22px;
  font-family: "Raleway", "Helvetica", "sans-serif";
}
