.sidebar h2 {
font-size: 19px;
margin-top: 25px;
margin-bottom: 25px;
font-weight: lighter;
font-family: "Raleway", "Helvetica", "sans-serif";
}

.sidebar:hover {
text-decoration: none;
}

.sidebar h1 {
font-size: 23px;
text-align: left;
margin-top: 20px;
margin-bottom: 10px;
}

.message h1 {
font-size: 23px;
text-align: left;
margin-top: 20px;
margin-bottom: 10px;
}

.fund-members h2 {
font-size: 23px;
color:  #9C9C9C;
font-family: "Raleway", "Helvetica", "sans-serif";
text-align: left;
font-size: 19px;
}

.fund-members-additional-info {
  color: #DFE6EA;
  text-align: right;
  float: right;
  justify-content: space-between;
}


.fund-members-additional-info:hover {
  color: black;
  text-align: right;
  float: right;
  justify-content: space-between;
}

.fund-members-delete {
  color: #DFE6EA;
  margin-left: 18px;

}


.fund-members-delete:hover {
  color: black;
  margin-left: 18px;
}


.fund-members-link {
font-size: 23px;
color:  #9C9C9C;
font-family: "Raleway", "Helvetica", "sans-serif";
text-align: left;
font-size: 19px;
text-align: left;
}

.fund-members-link:hover {
  text-decoration: none;
  color: rgb(125, 125, 125);
  text-align: left;
}

.fund-members h1 {
font-size: 23px;
text-align: left;
margin-top: 20px;
margin-bottom: 10px;
}

.fund-name h1 {
font-size: 23px;
text-align: left;
margin-top: 20px;
margin-bottom: 10px;
}

.container1 {
padding-left: 20px;
background-color: #DFE6EA;
height: 100vh;
color: #787D7F;

}

.container2 h2 {
font-size: 20px;
color: #787D7F;
margin-top: 25px;
margin-bottom: 25px;
font-family: "Raleway", "Helvetica", "sans-serif";
}

.container3 h2 {
font-size: 20px;
color: #787D7F;
}

.message {
  display: flex;
  flex-direction: column;
}

.message h2 {
 font-size: 20px;
 text-align: left;
 font-family: "Raleway", "Helvetica", "sans-serif";
}

td {
  padding: 15px;
}

th {
color: gray;
font-weight: lighter;
font-size: 15px;
}

.market img{
  width: 100%;
  height: auto;
}


.table-coins {
  justify-content: space-around;
}

.table-coins td {
  font-size: 17px;
}

.line-divider {

  border-top-color: gray;
  margin-bottom: 20px;
}

.market {
  width: 80%;
}

.market h1 {
font-size: 23px;
text-align: left;
margin-top: 20px;
margin-bottom: 10px;
}

.composition h1 {
font-size: 23px;
text-align: left;
margin-top: 20px;
margin-bottom: 10px;
}


.green-alpha {
  color: green;
}

.red-alpha {
  color: red;
}

.table-coins th {
  padding: 10px;
}

.table-coins td {
  padding-left: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.row {
  margin-top: 80px;

  margin-right: 0px;
  margin-left: 0px;
}
p {
font-family: 'Lato', sans-serif;
font-size: 17px;
}

#add-investor {
  background-color: #79B4A9;
  border-color: #79B4A9;
  margin: 1px;
  margin-top: 3px;
  color: white;
}

#delete-item {
color: #79B4A9;
}

#edit-item {
color: #79B4A9;
}

#add-coin {
color: #79B4A9;
}

.fund-owned h2{
  text-align: left;
}

.fund-owned:hover h2{
  text-decoration: none;
  color: rgb(125, 125, 125);
}

.fund-owned-link:-webkit-any-link {
  text-decoration: none;
}

.fund-joined h2{
  text-align: center;
}

.rt {
  color: gray;
}

.col-md-5 .container2 {
  text-align: stretch;
}

.fund-joined:hover h2 {
  text-decoration: none;
}

.active-chat {
  color: black;
}

.active-chat h2 {
  color: #9C9C9C;
font-weight: bolder;
}


.btn-add {
  color: #79B4A9;
  border: 1px solid #79B4A9;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}


#zach:hover {
  text-decoration: none;
  color: rgb(125, 125, 125);
}




