.sidebar h2 {
font-size: 24px;
}

.fund-members h2 {
font-size: 24px;
}

.container1 {
margin-left: 20px;
}

.container3 h2 {
font-size: 30px;
}

.message {
  display: flex;
  flex-direction: column;
}

.message h2 {
 font-size: 30px;
}
