.home-banner {
  background-image: asset-url("walls.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: #eee;
  text-align: center;
  margin-top: 73px;
  opacity: 0.65;
}

.button{
  margin-top: 100px;
  margin-right: 100px;
}

.button .button-1 {
  padding: 0px 0px 0px !important;

}
.button-1 {
  background-color: #79B4A9;
  border: none;
  font-family: 'Assistant', sans-serif;
  font-weight: lighter;
  color: #C4C4C4;
}

.button-2 {
  background-color: #F46036;
  border: none;
  font-family: 'Assistant', sans-serif;
  font-weight: lighter;
  color: #C4C4C4;
}

.description-2 {
  position: absolute;
  text-align: left;
}

.description-1 h1{
  left: auto;
  right: auto;
  font-family: "Raleway", "Helvetica", "sans-serif";
  color: black;
  margin-top: 225px;
}


.description-1 h2{
  left: auto;
  right: auto;
  font-family: "Raleway", "Helvetica", "sans-serif";
  color: black;
  margin-top: 5px;
  text-align: center;
}

.create-btn {
  color: orange;
  border: 1px solid orange;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 60px;
  width: 155px;
  // margin-left: 155px;
}
.create-btn:hover {
  opacity: 1;
  text-decoration: none;
  color: orange;
}

h2 {
  margin-bottom: 40px;
  font-size: 40px;
  text-align: left;
  color: #CDCED0;
}

b {
}


