/* Main navbar */
.user-name {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

.dropdown-content {
  margin-top: 25px;
}

.navbar-wagon-brand {
  position: absolute;
}

$navbar-height: 70px;

.navbar-wagon {
  background: #FFFFFF;
  padding-top: 17px;
  height:72px;
  border-bottom-width: 35px;

  // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  // transition: all 0.3s ease;
  // height: $navbar-height;
  // // padding: 0px 30px;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;

}


/* Logo */
.navbar-wagon-brand img {
  height: 55px;

}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  float: right;
  // right: 40px;
  // position: absolute;
  // align-items: absolute;
  // right: 20px;
  // justify-content: space-between;
  // margin-left: 800px;
}

.container-1 {
  display: flex-end;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
  display: flex-end;
  align-items: absolute;
  right: 20px;
  justify-content: space-between;
  margin-top: 35px;

}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 16px;
  margin-left: 8px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

// navbar style
.navbar-wagon {
  // background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-wagon-white {
  background-color: #FFFFFF;
}

h1 {
  color: #79B4A9;
  font-size: 15px;
  margin-bottom: 50px;
}

h5 {
  color: #F46036;
  border: 1px solid #F46036;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}

p {
  font-size: 30px;
}


.rnd-bnt {
  color: #62B8AB;
  border: 1px solid #62B8AB;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}

.login-btn {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}

.login-btn:hover {
  opacity: 1;
  text-decoration: none;
  color: #F4F4F4;
}

.welcome-message {
  color: orange;
  margin-right: 30px;
  margin-left: 10px;
}

.div {
  padding-top: 10px;
}
