<div class="form-style-5">
  <h1>ADD NEW FUND</h1>
    <%= simple_form_for @fund do |f| %>
      <fieldset>

        <h2>Name of fund</h2>
        <div class="form-group">
          <%= f.input :name, label: false%>
        </div>

        <h2>Fund managers allocation amount (USD)</h2>
        <div class="form-group">
          <%= text_field_tag(:allocation_share)%>
        </div>

        <h2></h2>

        <%= f.submit "ADD", class: "btn" %>

      <% end %>
</div>
