<div class="home-banner">

  <div class="btn-group">
    <button type="button"><a href="#" class="btn-primary">CREATE FUND</a></button>
    <button type="button" class="button">
      <a href="#" class="button">
        <% if user_signed_in? %>
          <div>
            <%= link_to 'LOGOUT', destroy_user_session_path, method: :delete, class:"btn-medium-2"  %>
          </div>
        <% else %>
          <div>
            <%= link_to 'LOGIN', new_user_session_path, class:"btn-medium-2"   %>
          </div>
        <% end %>
      </a>
    </button>
  </div>


</div>


<div class="header1">
  <h1>WELCOME TO BENCHMARK!</h1>
</div>

<div class="header2">
  <h1>FIND YOUR ACTIVE FUNDS HERE</h1>
</div>

<div class="row">
  <% @funds.each do |fund| %>
    <div class="col-xs-12 col-sm-12">
      <%= link_to fund_path(fund.id) do %>
            <div class="fund-info">
              <div class="fund-name">

                <h2> <%= fund.name%></h2>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
