
<div class="productPage">
  <div class="row">
    <div class="col-md-6 container 1">
      <div class="sidebar">
      </div>
    </div>
    <div class="col-md-6 container2">
      <div class="message">
        <h2><%=@fund.name%></h2>
      </div>
      <div class="message">
        <h2>Your Fund Conversation</h2>
      </div>
      <div class="fund_performance">
        <div class="market">
          <h2>Market Performance</h2>
        </div>
      </div>
      <div class="composition">
        <h2>Coin:</h2>
        <h2>Value:</h2>
      </div>
    </div>
  </div>
</div>



<div class="fund-members">
<h2>Fund Members</h2>
<% @fund.members.each do |member| %>
  <%= member.name %>
<% end %>
<%= link_to new_fund_membership_path(@fund) do%>
  <button type="button" class="btn btn-primary">Add An Investor</button>
<% end %>
</div>

<%= render "messages/index" %>


